        /* banner区域  */
        /* ナビの左側  */
        
        .banner-in {
            height: 420px;
            background: url(../images/banner.png) 0 0 no-repeat;
            position: relative;
        }
        
        .slidebar {
            float: left;
            height: 420px;
            width: 240px;
            background: rgba(255, 185, 185, 0.2);
        }
        
        .slidebar li a {
            font-size: 14px;
            padding: 0 20px;
            display: block;
            line-height: 45px;
        }
        
        .slidebar li a:hover {
            color: #87CEEB;
        }
        
        .slidebar a span {
            float: right;
            font-family: arial;
        }
        /* マイ時間表区域 */
        
        .timetable {
            float: right;
            width: 230px;
            height: 300px;
            /* background-color: pink; */
            margin-top: 50px;
            margin-right: 10px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        }
        
        .timetable dt {
            color: white;
            background-color: #87CEEB;
            text-align: center;
            line-height: 60px;
            font-weight: 700;
            letter-spacing: 5px;
        }
        
        .timetable dd {
            width: 193px;
            height: 60px;
            margin: 0 auto;
            border-bottom: 1px solid #ccc;
            padding-top: 12px;
            box-sizing: border-box;
        }
        
        .timetable dd:last-child {
            border: 0;
        }
        
        .timetable dd h4 {
            font-size: 16px;
            font-height: normal;
            color: #4e4e4e;
        }
        
        .timetable dd p {
            font-size: 14px;
            color: #a5a5a5;
        }
        
        .timetable dd a {
            display: block;
            color: #87CEEB;
            height: 40px;
            margin: 0 auto;
            border: 1px solid #87CEEB;
            text-align: center;
            line-height: 40px;
            font-weight: 700;
            transition: all 0.6s;
        }
        
        .timetable dd a:hover {
            background-color: #87CEEB;
            color: #fff;
        }
        /* サークルのブロック */
        
        .circle {
            width: 180px;
            height: 22px;
            /* background-color: pink; */
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -90px;
        }
        
        .circle li {
            float: left;
            width: 12px;
            height: 12px;
            background-color: rgba(0, 0, 0, 0.3);
            margin: 6px 8px;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .circle .current {
            width: 19px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.1);
        }
        /* banner区域終わり  */
        /* おすすめ区域 */
        
        .recomment {
            height: 80px;
            /* background-color: pink; */
            line-height: 80px;
            margin-top: 18px;
            box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
        }
        
        .recomment a {
            padding: 0 30px;
            border-right: 1px solid #ccc;
        }
        
        .recomment a:first-child {
            color: #87CEEB;
            font-weight: 700;
        }
        
        .recomment a:hover {
            color: #87CEEB;
        }
        
        .recomment a:last-child {
            float: right;
            font-weight: 700;
            color: #87CEEB;
            border: 0;
        }
        /* 課程おすすめ区域  */
        /* 課程おすすめhead */
        
        .recom-products {
            margin-top: 40px;
        }
        
        .recom-hd {
            height: 40px;
            /* background-color: pink; */
        }
        
        .recom-hd h4 {
            float: left;
            margin-top: 10px;
            color: #494949;
        }
        
        .recom-hd a {
            display: block;
            float: right;
            margin-top: 10px;
            margin-right: 30px;
            font-size: 14px;
            color: #a5a5a5;
            font-weight: 700;
        }
        
        .recom-hd a:hover {
            color: #87CEEB;
        }
        /* 課程おすすめbanner */
        
        .recom-bd ul li {
            width: 238px;
            height: 270px;
            /* background-color: pink; */
            box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
            float: left;
            margin-right: 15px;
            margin-top: 15px;
            position: relative;
            transition: all 0.2s;
        }
        
        .recom-bd ul li:hover {
            margin-top: 10px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
        }
        
        .recom-bd-hot {
            width: 40px;
            height: 23px;
            position: absolute;
            right: -5px;
            top: 40px;
        }
        
        .recom-bd-new {
            width: 40px;
            height: 23px;
            position: absolute;
            right: -4px;
            top: 45px;
        }
        
        .recom-bd ul li:nth-child(5n) {
            margin-right: 0px;
        }
        
        .recom-bd li h5,
        .recom-bd li p {
            padding: 0 20px 0 20px;
            margin-top: 12px;
        }
        
        .recom-bd li h5 {
            font-size: 16px;
            line-height: 22px;
            font-weight: normal;
        }
        
        .recom-bd li p {
            font-size: 14px;
            color: #a5a5a5;
        }
        
        .recom-bd li span {
            color: #ff7c2d;
        }
        /* 課程おすすめ区域終わり */